body{
    background-color: #dee9ff;
}
.registration-form{
	padding: 50px 0;
}
.registration-form form{
    background-color: #fff;
    width: 567px;
    height: 510px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
.text-center {
    text-align: center; 
    margin-bottom: 20px; 
}
.form-group {
    margin-bottom: 15px; 
}
#TxtArea {
    width: 425px; 
    height: 100px; 
    margin: auto;
}
.form-group {
    text-align: center;
}

.centered-table {
    margin: 0 auto; 
    width: 89%; 
    max-width: 600px; 
    border-collapse: collapse; 
}

.centered-table th, .centered-table td {
    padding: 8px; 
    text-align: center; 
    border: 1px solid #ddd; 
}